<%- include("../../partials/head.ejs") %>

<form action="/ingreso/iniciar-sesion" method="post">
    <div class="mb-3">
      <label>Usuario</label>
      <input type="text" class="form-control" placeholder="ingrese su Usuario" name="usuario">
    </div>
    <div class="mb-3">
        <label>Cedula</label>
        <input type="password" class="form-control" placeholder="ingrese su contraseña" name="contraseña">
      </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
  </form>

<%- include("../../partials/footer.ejs") %>