<%- include("../../partials/head.ejs") %>

<form action="/usuario/crear" method="post">
    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text" class="form-control"  name="nombre">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Usuario</label>
      <input type="text" class="form-control" name="usuario" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" >
    </div>
    
    <div class="mb-3">
      <label for="" class="form-label">Rol</label>
      <select name="rol" class="form-control">
        <option value="administrador">administrador</option>
        <option value="cliente" selected="">Cliente</option>
        <option value="empleado">Empleado</option>
      </select>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="contraseña" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("../../partials/footer.ejs") %>